---
layout: archive
title: "Publications"
permalink: /publications/
collection: publications
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% assign sorted_posts = site.publications | sort: "date" | reverse %}
{% assign last_year = "" %}

{% for post in sorted_posts %}
  {% assign year = post.date | date: "%Y" %}
  {% if year != last_year %}
  <h2 class="archive__subtitle">{{ year }}</h2>
  {% assign last_year = year %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}




